
<launch>

    <node name="joy_node" pkg="joy" type="joy_node" output="screen" >
		<param name="~deadzone" type="double" value="0.2"/> 
		<param name="~autorepeat_rate" type="double" value="20."/> 
		<param name="~dev" type="str" value="/dev/input/js0"/>	
    </node>
    <node name="youbot_joystick_control_arm_only" pkg="youbot_joystick_control" type="youbot_joystick_control_arm_only" output="screen" >
    </node>
</launch>
